/.settings/
/.project
/.DS_Store
/target/
/.classpath
/*/.project
/*/.settings/
/*/.DS_Store
*/*/.DS_Store
/*/.classpath
/*/bin
*/target
/*/.gitignore
*/*/*.iml
*/*.iml
/*.iml
*.DS_Store
*.iml
disconf/
